body{
        display:flex;
        justify-content:center;
        align-items: center;
        min-height:100vh;
        background:url(purple.jpg) no-repeat;
        background-size: cover;
        background-position: center;
}
p{
    font-size: 25px;
font-family: 'Mukta', sans-serif;
}
